*{
    box-sizing: border-box;
}
html,body,.wrapper{ height: 100%; }
body
    {
    display: grid;
    place-items: center;
    background-color: rgb(0, 0, 0);
    padding: 0 24px;
    margin:0;
    font-family: verdana;
    color: #fff;
    }
button{
    background:transparent;
    border-radius: 0px;
    cursor: pointer;
    }
.control
    {
    border: 0;
    border-radius: 8px;
    outline: none;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #edeafaf7;
    color: black;
    font-family: verdana;
    font-size:16px;
    transition:0.4s;
    }
.login-card
    {
    width:400px;
    padding:100 50 70px;
    border-radius: 1.25em;
    background:goldenrod;
    }
.login-card>h1 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 6px;
}
.login-card>h3{
    color:#000000;
    margin: 0 0 40px;
    font-weight: 500;
    font-size: 1rem;
}
.login-form{
    width:100%;
    margin:0;
    display:grid;
    gap: 20px;
}
.login-form> button.control{
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 26px;
    background:black;
    color:#f9f9;
    border:0;
    font-family: inherit;
    font-size:1rem;
    font-weight:600;
    text-align: center;
    letter-spacing:2px;
    transition: all 0.375s;
}
.password{
    position:relative;
}
.button{
    width: 100%;
    height:56px;
    padding:0 16px;
    border-radius: 8px;
    background:black;
    color:white;
    letter-spacing:3px;
    transition: all 0.3s;
}
.button:active{
    transform: translatey(0.3rem)
}
button{
    color:white;
}
a:link, a:visited {
    width: 100%;
    background-color: black;
    color: white;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: black;
  }
